[submodule "attribute-service"]
	path = attribute-service
	url = git@github.com:hypertrace/attribute-service.git
	branch = main
[submodule "entity-service"]
	path = entity-service
	url = git@github.com:hypertrace/entity-service.git
	branch = main
[submodule "gateway-service"]
	path = gateway-service
	url = git@github.com:hypertrace/gateway-service.git
	branch = main
[submodule "query-service"]
	path = query-service
	url = git@github.com:hypertrace/query-service.git
	branch = main
[submodule "hypertrace-graphql"]
	path = hypertrace-graphql
	url = git@github.com:hypertrace/hypertrace-graphql.git
	branch = main
[submodule "config-bootstrapper"]
	path = config-bootstrapper
	url = git@github.com:hypertrace/config-bootstrapper.git
	branch = main
[submodule "config-service"]
  path = config-service
  url = git@github.com:hypertrace/config-service.git
  branch = main
